

header{

    background-color: #cccccc;
    padding: 20px 0;
}
.box{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0; 
    
    

}
nav li{
    display: inline;
    margin: 0 0 0 15px;
    
    
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}
   
nav a:hover{
    color:#C78C19;
    text-decoration: underline;
}
header{
    padding-left: 20px;
}
.title h1{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;

}


.banner{
    width: 100%;
}

.p-missao{
    font-size: 20px;
}
.p-missao strong{
    color: red;
}


.beneficios{
    background: #FFFFFF;
    padding: 20px;

}

.main{
    background-color: #cccccc;
    padding: 30px;
}
.itens{
    font-style: italic;
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}
.img-beneficios{
    width: 50%;
}
footer{
    text-align: center;
    background: url("../imagens/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}