body{
    text-align: center;
   
}
header{
    padding-left: 20px;
}
header h1{
    text-align: left;
}


.banner{
    width: 100%;
}

.p-missao{
    font-size: 20px;
}
.p-missao strong{
    color: red;
}


.beneficios{
    background: #FFFFFF;
    padding: 20px;

}

.main{
    background-color: #cccccc;
    padding: 30px;
}
.itens{
    font-style: italic;
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}
.img-beneficios{
    width: 50%;
}